params {
    input = null
    outdir = "structures/"
    predictmethods = 'esmfold, alphafold3, colabfold'
    use_msa = true
    methods {
        esmfold {
            model_dir = "path/to/esm/datadir"
            fold = "path/to/software/esm/scripts/fold.py"
        }
        alphafold3 {
            run_af3 = "/path/to/software/20250502_af3/alphafold3/run_alphafold.py"
            model_dir = "path/to/model/dir/data/alphafold3/"
            db_dir = "/path/to/databases/alphafold3/20250108_databases/"
        }
    }
}
process {
    withName: RUN_ESMFOLD {
        maxForks = 1
        publishDir = [
            path: { "$params.outdir/esmfold" },
            mode: "copy"
        ]
    }
    withName: RUN_COLABFOLD_BATCH {
        clusterOptions = { "--gres=gpu:a100:1" }
        publishDir = [
        path: { "$params.outdir/colabfold" },
        mode: "copy"
        ]
    }
    withName: RUN_ALPHAFOLD3 {
        clusterOptions = { "--gres=gpu:a100:1" }
        container = '/path/to/singularity/alphafold3.sif'
        containerOptions = "--nv"
        publishDir = [
        path: { "$params.outdir/af3" },
        mode: "copy"
        ]
    }
    withName: RUN_ALPHAFOLD2 {
        clusterOptions = { "--gres=gpu:a100:1" }
        publishDir = [
            path: { "$params.outdir/alphafold2" },
            mode: "copy" 
        ]
    }
}

conda.enabled = true
singularity.enabled = true

